{% set nginx_shibboleth = salt.grains.filter_by({
    'default': {
        'service': 'shibd',
        'conf_file': '/etc/shibboleth/shibboleth2.xml',
        'override_sp_cert': False
    },
    'Debian': {
        'pkgs': [
            'shibboleth-sp2-utils'
        ]
    },
    'RedHat': {
        'pkgs': [
            'shibboleth'
        ]
    },
}, grain='os_family', merge=salt.pillar.get('nginx-shibboleth:overrides'), base='default') %}
