{% set nginx_shibboleth = salt.grains.filter_by({
    'default': {
        'pkg': 'nginx-shibboleth',
        'service': 'nginx-shibboleth',
        'conf_file': '/etc/nginx-shibboleth/nginx-shibboleth.conf',
        'config': {
            'key': 'value',
        },
    },
    'Debian': {
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt.pillar.get('nginx-shibboleth:overrides), base='default') %}
